<a href="https://colab.research.google.com/github/diegopenaloza/pdf_scraping_tasa_de_interes/blob/main/PDF_scraping_Optenrer_tasa_de_interes_pasiva_referenciasl_plazo_361_y_mas_(2018_2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import re

In [ ]:
r=0
s=0
for i in range(2018,2022):
  
  for j in range(1,13):
    s=s+1
    if j<10:
      page = requests.get('https://contenido.bce.fin.ec/documentos/Estadisticas/SectorMonFin/TasasInteres/TasasVigentes0%i%i.htm'%(j,i))
      soup = BeautifulSoup(page.text, 'html.parser')
    else:
      page = requests.get('https://contenido.bce.fin.ec/documentos/Estadisticas/SectorMonFin/TasasInteres/TasasVigentes%i%i.htm'%(j,i))
      soup = BeautifulSoup(page.text, 'html.parser')  
    for h in range(0,len(soup.find_all('td'))):
      if re.search(r'361',str(soup.find_all('td')[h].string)):
        r+=float(soup.find_all('td')[h+1].string)
        print(s,i,j,r)

1 2018 1 7.38
2 2018 2 14.649999999999999
3 2018 3 21.86
4 2018 4 29.07
5 2018 5 36.35
6 2018 6 43.7
7 2018 7 51.13
8 2018 8 58.56
9 2018 9 65.85000000000001
10 2018 10 73.38000000000001
11 2018 11 80.96000000000001
12 2018 12 88.69000000000001
13 2019 1 96.35000000000001
14 2019 2 104.2
15 2019 3 112.07000000000001
16 2019 4 120.06
17 2019 5 128.01
18 2019 6 135.95999999999998
19 2019 7 143.95
20 2019 8 151.98
21 2019 9 159.95999999999998
22 2019 10 168.02999999999997
23 2019 11 176.14
24 2019 12 184.29999999999998
25 2020 1 192.48999999999998
26 2020 2 200.67
27 2020 3 208.89999999999998
28 2020 4 216.83999999999997
29 2020 5 225.14
30 2020 6 233.51
31 2020 7 241.84
32 2020 8 250.12
33 2020 9 258.37
34 2020 10 266.67
35 2020 11 274.83000000000004
36 2020 12 282.90000000000003
37 2021 1 290.90000000000003
38 2021 2 298.89000000000004
39 2021 3 306.85
40 2021 4 314.84000000000003
41 2021 5 322.73
42 2021 6 330.49
43 2021 7 338.19
44 2021 8 345.69
45 2021 9 353.36
46 2021 10 360.84000000000003
47 2021 11 368.44000000000005
48 2021 12 375.9800000000001

In [ ]:
(r+7.74)/48

7.994166666666668